<p-toast></p-toast>
<div class="row" [style]="{ display: 'inline-flex' }">
  <div style="width: 40%; left: 20%; padding: 20px">
    <div class="card">
      <h5>Add Product</h5>
      <div class="ui-fluid">
        <div class="p-field" style="margin-left: 10%">
          <input
            type="text"
            [ngStyle]="{ 'margin-right': '10px' }"
            pInputText
            aria-describedby="username2-help"
            [(ngModel)]="product.ProductName"
            placeholder="name"
          />
          <input
            type="text"
            [ngStyle]="{ 'margin-right': '10px' }"
            pInputText
            [ngClass]="{ disabled: 'selectedProduct !=null' }"
            [(ngModel)]="product.ID"
            style="margin-right: 20px"
            placeholder="ID"
          />
          <div>
            <div *ngIf="product.ProductName === ''">
              <small id="username2-help" class="p-invalid"
                >product name is not available.</small
              >
            </div>
          </div>
        </div>
        <br />
        <div class="p-field" style="margin-left: 10%">
          <input
            type="text"
            pInputText
            [(ngModel)]="product.Price"
            style="margin-right: 20px"
            (click)="toggleClick()"
            placeholder="Product price"
          />
          <input
            type="text"
            pInputText
            [(ngModel)]="product.ProductType"
            placeholder="type"
          />
          <div class="row">
            <div class="col-sm-6">
              <div *ngIf="click && !product.Price">
                <small class="p-invalid">product name is not available.</small>
              </div>
            </div>
            <div class="col-sm-6" [ngStyle]="{ padding: '0px' }">
              <div *ngIf="product.ProductType === ''">
                <small class="p-invalid">product Type is not available.</small>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="p-field" style="margin-left: 10%">
          <textarea
            pInputTextarea
            [(ngModel)]="product.ProductDetail"
            style="width: 90%"
            placeholder="details"
          ></textarea>
        </div>
        <br />
        <div class="p-field" style="margin-left: 10%">
          <p-button label="Add Product" (click)="saveProductData()"></p-button>
        </div>
      </div>
    </div>
  </div>
  <div [style]="{ width: '50%' }">
    <p-button
      type="button"
      (click)="loadProductData()"
      label="Refresh"
    ></p-button>

    <div class="card">
      <p-table
        [value]="products"
        selectionMode="single"
        [(selection)]="selectedProduct"
        dataKey="ID"
        responsiveLayout="scroll"
        (onRowSelect)="onRowSelect($event)"
        (onRowUnselect)="onRowUnselect($event)"
        [scrollable]="true"
        scrollHeight="300px"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>Product Type</th>
            <th>Price</th>
            <th>Detail</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr
            [pSelectableRow]="product"
            [pSelectableRowDblClick]="product"
            (dblclick)="showModalDialog($event)"
          >
            <td>{{ product.ID }}</td>
            <td>{{ product.ProductName }}</td>
            <td>{{ product.ProductType }}</td>
            <td>{{ product.Price }}</td>
            <td>{{ product.ProductDetail }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<p-dialog
  header="Enter Product Details"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <input
    type="text"
    [ngStyle]="{ 'margin-right': '10px' }"
    name="ID"
    id="ID"
    pInputText
    aria-describedby="username2-help"
    placeholder="ID"
    #ID="ngModel"
    [disabled]="true"
    [ngModel]="product.ID"
  />

  <input
    type="text"
    [ngStyle]="{ 'margin-right': '10px' }"
    pInputText
    id="productName"
    #productName="ngModel"
    style="margin-right: 20px"
    name="productName"
    placeholder="Product name"
    [ngModel]="product.ProductName"
  />
  <input
    type="text"
    [ngStyle]="{ 'margin-right': '10px' }"
    pInputText
    id="price"
    style="margin-right: 20px"
    name="price"
    #price="ngModel"
    placeholder="Product Price"
    [ngModel]="product.Price"
  />
  <br /><br />
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="updateData()"
      label="Yes"
      styleClass="p-button-text"
    ></p-button>
    <p-button
      icon="pi pi-times"
      (click)="displayModal = false"
      label="No"
    ></p-button>
  </ng-template>
</p-dialog>
